<ion-header></ion-header>

<ion-content>
  <ion-card class="ion-no-margin">
    <img src=".../../../../../../../assets/adoptreqHeader.png">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button [routerLink]="['/tab/adoption/adoption-details/', petId]">
          <ion-icon name="chevron-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
    <form [formGroup]="newRequestForm" (ngSubmit)="sendRequest()">
      <ion-list class="ion-text-center">
        <ion-item lines="none">
          <ion-label>Tell the pet owner about you</ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-textarea type="text" formControlName="requestDescription" placeholder="Tell the owner about you.."></ion-textarea>
        </ion-item>
      </ion-list>

      <div class="ion-text-center">
        <ion-button type="submit" class="ion-margin" shape="round" [disabled]="!newRequestForm.valid">Request to Adopt</ion-button>
      </div>
    </form>
  </ion-card>
</ion-content>
