<ion-header></ion-header>

<ion-content>
  <ion-card class="ion-no-margin">
    <ion-img src="./assets/loginHeader.png"></ion-img>

    <ion-card-content>
      <ion-list>
        <ion-item id="text" lines="none">
          <ion-label>Email Address</ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-input type="text" [(ngModel)]="email" placeholder="Enter your Email Address"></ion-input>
        </ion-item>

        <div>
          <!-- <ng-container *ngFor="let validation of validationUserMessage.password">
               <div class="error_message" *ngIf="validationFormUser.get('password').hasError(validation.type) && (validationFormUser.get('password').dirty || validationFormUser.get('password').touched)">
                  {{validation.message}}
               </div>
           </ng-container> -->
      </div>


        <ion-item id="text" lines="none">
          <ion-label>Password</ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-input type="password" [(ngModel)]="password" placeholder="Enter your password"></ion-input>
        </ion-item>
      </ion-list>

      <div>
        <!-- <ng-container *ngFor="let validation of validationUserMessage.password">
             <div class="error_message" *ngIf="validationFormUser.get('password').hasError(validation.type) && (validationFormUser.get('password').dirty || validationFormUser.get('password').touched)">
                {{validation.message}}
             </div>
         </ng-container> -->
    </div>

    <div class="ion-text-center">
      <ion-button class="ion-margin" shape="round" (click)="login()">Login</ion-button>
    </div>
    </ion-card-content>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button color="light" expand="block" fill="clear" routerLink="/auth/forgot-password">Forgot Password?</ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button color="dark" expand="block" fill="clear" routerLink="/auth/register"> New? <b> Create New Account</b> </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-button (click)="guideline()">
    <ion-icon class="info-btn" src="./assets/information-circle.svg"></ion-icon>
  </ion-button>
</ion-content>

