<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="../../">
        <ion-label>Cancel</ion-label>
      </ion-button>
    </ion-buttons>

    <ion-title class="ion-text-center">Edit</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="updateForm()">
        <ion-label>Done</ion-label>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <form [formGroup]="updateProductForm" >

      <ion-card>
        <ion-card-header>
          <img [src]="productDetail?.productImage"/>
        </ion-card-header>
        <ion-card-content>
          <ion-card-subtitle>
            <ion-label color="warning">
              Image cannot be updated.
            </ion-label>
          </ion-card-subtitle>
        </ion-card-content>

      </ion-card>

      <ion-card>

    <ion-card-content>
      <ion-label position="floating">Product Name</ion-label>
      <ion-input formControlName="productName" type="text" [placeholder]="productDetail?.productName"></ion-input>
      <ion-item lines="none" class="error-message" *ngIf="!updateProductForm.controls.productPrice.valid && updateProductForm.controls.productPrice.touched">
        <p>Product name is required and to be at least 2 characters.</p>
      </ion-item>
    </ion-card-content>

    <ion-card-content>
      <ion-label position="floating">Product Category</ion-label>
      <ion-select value="gender" [placeholder]="productDetail?.productCategory" interface="action-sheet" formControlName="productCategory">
        <ion-select-option value="Pet Food">Pet Food</ion-select-option>
        <ion-select-option value="Pet House">Pet House</ion-select-option>
        <ion-select-option value="Pet Care">Pet Care</ion-select-option>
        <ion-select-option value="Pet Accessories">Pet Accessories</ion-select-option>
        <ion-select-option value="Others">Others</ion-select-option>
      </ion-select>
      <ion-item lines="none" class="error-message" *ngIf="!updateProductForm.controls.productCategory.valid && updateProductForm.controls.productCategory.touched">
        <p>Product category is required to selected.</p>
      </ion-item>
    </ion-card-content>

    <ion-card-content>
      <ion-label position="floating">Product Description</ion-label>
      <ion-textarea formControlName="productDescription" type="text" [placeholder]="productDetail?.productDescription"></ion-textarea>
      <ion-item lines="none" class="error-message" *ngIf="!updateProductForm.controls.productPrice.valid && updateProductForm.controls.productPrice.touched">
        <p>Product description is required and to be at least 2 characters.</p>
      </ion-item>
    </ion-card-content>

    <ion-card-content>
      <ion-label position="floating">Product Price</ion-label>
      <ion-input formControlName="productPrice" type="number" [placeholder]="productDetail?.productPrice"></ion-input>
      <ion-item lines="none" class="error-message" *ngIf="!updateProductForm.controls.productPrice.valid && updateProductForm.controls.productPrice.touched">
        <p>Product price is required to be stated.</p>
      </ion-item>
    </ion-card-content>
    </ion-card>

  </form>
  </ion-list>


</ion-content>
