<ion-content class="ion-padding">

  <ion-card-header>
    <ion-img class="logo" src="assets/logo.png"></ion-img>
  </ion-card-header>
  <ion-card-content>
    <ion-list class="content-box">
      <ion-item>
        <ion-label position="stacked">First Name</ion-label>
        <ion-input [(ngModel)]="firstName" type="text" placeholder="Enter your first name"></ion-input><br>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Last Name</ion-label>
        <ion-input [(ngModel)]="lastName" type="text" placeholder="Enter your last name"></ion-input><br>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Date of Birth</ion-label>
        <ion-input [(ngModel)]="birthDate" type="date"></ion-input><br>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Email Address</ion-label>
        <ion-input [(ngModel)]="email" type="text" placeholder="Enter your email address"></ion-input><br>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Phone Number</ion-label>
        <ion-input [(ngModel)]="phoneNumber" type="tel" pattern="[0-9]{7}"required placeholder="Enter your phone Number"></ion-input><br>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Username</ion-label>
        <ion-input [(ngModel)]="username" type="text" placeholder="Create your username"></ion-input><br>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input [(ngModel)]="password" type="password" placeholder="Create a password"></ion-input><br>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Re-enter Password</ion-label>
        <ion-input [(ngModel)]="confirmPassword" type="password" (ionChange)="checkPassword()" placeholder="Re-enter your password"></ion-input>
        <ion-text *ngIf="password && !passwordMatch" color="danger">Password do not match!</ion-text>
        <ion-text *ngIf="password && passwordMatch" color="success">Password match!</ion-text><br>
      </ion-item>

    </ion-list>
  </ion-card-content>

  <div class="btn">
    <ion-button expand="block" shape="round" color="primary" (click)="login()">Cancel</ion-button><br>
    <ion-button [disabled]="!passwordMatch" expand="block" shape="round" color="primary" (click)="register()">Submit</ion-button>
  </div>

</ion-content>
