<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="../">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Address</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<form [formGroup]="addressDetailForm" (submit)="newAddress()">

  <ion-item>
    <ion-label stacked>Number</ion-label>
    <ion-input formControlName="num" type="number" placeholder="House Number"> </ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>Simpang</ion-label>
    <ion-input formControlName="simpang" type="number" placeholder="Simpang Number"> </ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>Kampung</ion-label>
    <ion-input formControlName="kampung" type="text" placeholder="Kampung Name"> </ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>Post Code</ion-label>
    <ion-input formControlName="postCode" type="text" placeholder="Postcode"> </ion-input>
  </ion-item>
  <ion-item>
    <ion-label stacked>City</ion-label>
    <ion-input formControlName="cityName" type="text" placeholder="City Name"> </ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>Country</ion-label>
    <ion-input formControlName="countryName" type="text" placeholder="Country Name"> </ion-input>
  </ion-item>


<ion-button routerDirection="forward" expand="block" type="submit" [disabled]="!addressDetailForm.valid"> Add Address </ion-button>
</form>
</ion-content>
