<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/tab/user-profile/feed-details', feedDetail?.postId]">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="ion-text-center">Edit News Feed Post</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="updatePostDetail()">
        <ion-label>Done</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img [src]="feedDetail?.postImage" id="img"/>

  <ion-list lines="full">
    <div [formGroup]="feedUpdateForm" >
      <ion-card>
        <ion-card-content>
          <ion-label position="floating">Post Title</ion-label>
            <ion-input required type="text" formControlName="postTitle" [placeholder]="feedDetail?.postTitle"></ion-input>

            <ion-item lines="none" class="error-message" *ngIf="!feedUpdateForm.controls.postTitle.valid && feedUpdateForm.controls.postTitle.touched">
              <p>Pet title is required to be at least 2 characters.</p>
            </ion-item>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-content>
          <ion-label position="floating">Post Description</ion-label>
            <ion-textarea required type="text" formControlName="postDescription" rows="5" cols="33" [placeholder]="feedDetail?.postDescription"></ion-textarea>

            <ion-item lines="none" class="error-message" *ngIf="!feedUpdateForm.controls.postDescription.valid && feedUpdateForm.controls.postDescription.touched">
              <p>Post Description is required to be at least 2 characters.</p>
            </ion-item>
        </ion-card-content>
      </ion-card>
    </div>
    </ion-list>

</ion-content>
