<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="../">
        <ion-label>Cancel</ion-label>
      </ion-button>
    </ion-buttons>

    <ion-title class="ion-text-center"></ion-title>

  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-list lines="full">
    <form [formGroup]="productForm" (ngSubmit)="formSubmit()">
      <ion-item>
        <ion-label position="floating">Product Name</ion-label>
        <ion-input formControlName="productName" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Product Category</ion-label>
        <ion-select value="gender" interface="action-sheet" formControlName="productCategory">
          <ion-select-option value="petfood">Pet Food</ion-select-option>
          <ion-select-option value="pethouse">Pet House</ion-select-option>
          <ion-select-option value="petcare">Pet Care</ion-select-option>
          <ion-select-option value="petaccessories">Pet Accessories</ion-select-option>
          <ion-select-option value="others">Others</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Product Description</ion-label>
        <ion-textarea formControlName="productDescription" type="text" required></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Product Price</ion-label>
        <ion-input formControlName="productPrice" type="number" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Product Image</ion-label>
        <ion-input formControlName="productImage" type="text" required></ion-input>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" shape="full" expand="block">Add Product</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
</ion-content>

