<ion-header>
  <ion-toolbar>
    <ion-buttons slot=start>
      <ion-menu-toggle>
        <ion-button>
          <ion-icon id="menu" name=menu></ion-icon>
        </ion-button>
      </ion-menu-toggle>
  </ion-buttons>

    <ion-title>Your Product</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <section>
    <ion-buttons class="ion-padding">
      <ion-button color="primary" expand="block" fill="solid" routerLink="../sales-history/add-product">
        <ion-icon name="add"></ion-icon>
        <ion-label class="ion-padding">Add New Product</ion-label>
      </ion-button>
    </ion-buttons>
  </section>

  <!-- <div class="empty-cart" *ngIf="!(newProductLists|async)">
    <ion-card>
      <ion-card-subtitle>You don't have any product sold!</ion-card-subtitle>
    </ion-card>
  </div> -->

  <ion-list>
    <ion-item *ngFor="let product of newProductLists" >
  <ion-grid>
    <ion-row>
      <ion-col>
            <ion-card>
              <img [src]="product.productImage" alt=""/>

              <ion-card-header>
                <ion-card-subtitle>
                  {{product.productCategory}}
                </ion-card-subtitle>
                <ion-card-title>
                  {{product.productName}}
                </ion-card-title>
                <ion-card-subtitle>
                  $ {{product.productPrice}}
                </ion-card-subtitle>

              </ion-card-header>

              <ion-card-content>
                    <ion-card-header>
                      <ion-card-subtitle>Description</ion-card-subtitle>
                    </ion-card-header>

                    <ion-card-content>
                      {{product.productDescription}}
                    </ion-card-content>
                <ion-buttons class="ion-padding">
                  <ion-button expand="block" fill="solid" [routerLink]="['../sales-history/edit-product/', product.productId]">
                    <ion-icon name="create-outline"></ion-icon>
                    <ion-label class="ion-padding">Edit</ion-label>
                  </ion-button>
                  <ion-button expand="block" fill="solid" color="danger" (click)="removeProduct(product.productId)">
                    <ion-icon name="trash-outline"></ion-icon>
                    <ion-label class="ion-padding">Delete</ion-label>
                  </ion-button>
                </ion-buttons>

              </ion-card-content>
            </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item>
</ion-list>
</ion-content>
