#setting{
  margin-right: 1rem;
  margin-left: -2.5rem;
  font-size: 1.1rem;
}

ion-title{
  font-family: "AbeeZee" !important;

}
ion-card{
  font-family: "AbeeZee" !important;
}

ion-label{
  font-family: "AbeeZee" !important;
}

ion-searchbar{
  font-family: "AbeeZee" !important;
}
