<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Profile</ion-title>
    <ion-buttons slot="end">
      <ion-button id="setting" routerLink="./setting">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="2" class="ion-margin">
          <ion-avatar class="image-center">
            <img name="profile_pic" src="../../../../../../assets/icon/favicon.png"/>
          </ion-avatar>
      </ion-col>
      <ion-col size="9">
        <ion-card class="ion-text-center">
          <ion-card-header>
            <ion-card-title>
              {{ userUsername }}
            </ion-card-title>
            <ion-card-subtitle>
              Display about me
            </ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-toolbar>
    <ion-segment (ionChange)="segmentChanged($event)" value="allpost" scrollable>
      <ion-segment-button value="allpost">
        <ion-label>
          Shared Post
        </ion-label>
      </ion-segment-button>
      <ion-segment-button value="adoption">
        <ion-label>
          Adoptions
        </ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <ion-list *ngIf="segment === 'allpost'">
    <ion-item>
      <ion-label>All post</ion-label>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="segment === 'adoption'">
    <ion-item>
      <ion-label class="ion-padding-horizontal">Pending Request</ion-label>
      <ion-buttons>
        <ion-button slot="end" routerLink="./pending-list">
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-button>
      </ion-buttons>

    </ion-item>

      <ion-grid>
        <ion-row>
          <ion-col id="adopt" size="4" *ngFor="let adoption of adoptionList">
              <img [src]="adoption.petImage" [routerLink]="['/adoption-details/', adoption.petId]" />
          </ion-col>
        </ion-row>
     </ion-grid>

        <!-- <ion-row>
        <ion-col>
        <ion-card>
          <img [src]="adoption.petImage"/>
          <ion-card-header>
            <ion-card-subtitle>Pet Name</ion-card-subtitle>
            <ion-card-title>{{ adoption.petName }}</ion-card-title>
          </ion-card-header>

          <ion-card-header>
            <ion-card-title color="primary">Category</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{ adoption.petCategory }}
          </ion-card-content>

          <ion-card-header>
            <ion-card-title color="primary">Age</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{ adoption.petAge }} Month
          </ion-card-content>

          <ion-card-header>
            <ion-card-title color="primary">Breed</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{ adoption.petBreed }}
          </ion-card-content>

          <ion-card-header>
            <ion-card-title color="primary">Gender</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{ adoption.petGender }}
          </ion-card-content>

          <ion-card-header>
            <ion-card-title color="primary">Health Condition</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{ adoption.petCondition }}
          </ion-card-content>

          <ion-card-header>
            <ion-card-title color="primary">Spay Status</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{ adoption.petSpayStatus }}
          </ion-card-content>
          </ion-card>

        <ion-buttons class="ion-padding">
          <ion-button expand="block" fill="solid">
            <ion-icon name="create-outline"></ion-icon>
            <ion-label class="ion-padding">Edit</ion-label>
          </ion-button>
          <ion-button expand="block" fill="solid" color="danger">
            <ion-icon name="trash-outline"></ion-icon>
            <ion-label class="ion-padding">Delete</ion-label>
          </ion-button>
        </ion-buttons>
      </ion-col>
    </ion-row> -->
  <!-- </ion-grid>
</ion-item> -->
</ion-list>

</ion-content>


