<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Profile</ion-title>
    <ion-buttons slot="end">
      <ion-button id="setting" routerLink="./setting">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="2" class="ion-margin">
          <ion-avatar class="image-center">
            <img name="profile_pic" [src]="userImage"/>
          </ion-avatar>
      </ion-col>
      <ion-col size="9">
        <ion-card class="ion-text-center">
          <ion-card-header>
            <ion-card-title>
              {{ userUsername }}
            </ion-card-title>
            <ion-card-subtitle>
              {{ userBio }}
            </ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-toolbar>
    <ion-segment (ionChange)="segmentChanged($event)" value="feed" scrollable>
      <ion-segment-button value="feed">
        <ion-label>
          News Feed
        </ion-label>
      </ion-segment-button>
      <ion-segment-button value="lostpet">
        <ion-label>
          Lost Pet
        </ion-label>
      </ion-segment-button>
      <ion-segment-button value="donation">
        <ion-label>
          Donation
        </ion-label>
      </ion-segment-button>
      <ion-segment-button value="adoption">
        <ion-label>
          Adoptions
        </ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <ion-list *ngIf="segment === 'feed'">
    <ion-grid>
      <ion-row>
        <ion-col id="adopt" size="4" *ngFor="let feed of feedList" [routerLink]="['/tab/user-profile/feed-details/' , feed.postId]" >
            <img [src]="feed.postImage"/>
        </ion-col>
      </ion-row>
   </ion-grid>
  </ion-list>

  <ion-list *ngIf="segment === 'lostpet'">
    <ion-grid>
      <ion-row>
        <ion-col id="adopt" size="4" *ngFor="let lostpet of lostPetList" [routerLink]="['/tab/user-profile/lostpet-details/' , lostpet.lostPetId]" >
            <img [src]="lostpet.petImage"/>
        </ion-col>
      </ion-row>
   </ion-grid>
  </ion-list>

  <ion-list *ngIf="segment === 'donation'">
    <ion-grid>
      <ion-row>
        <ion-col id="adopt" size="4" *ngFor="let donation of donationList" [routerLink]="['/tab/user-profile/donation-details/' , donation.donationId]" >
            <img [src]="donation.donationImage"/>
        </ion-col>
      </ion-row>
   </ion-grid>
  </ion-list>

  <ion-list *ngIf="segment === 'adoption'">
    <ion-item>
      <ion-label class="ion-padding-horizontal">Pending Request</ion-label>
      <ion-buttons>
        <ion-button slot="end" routerLink="./pending-list">
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-button>
      </ion-buttons>

    </ion-item>

      <ion-grid>
        <ion-row>
          <ion-col id="adopt" size="4" *ngFor="let adoption of adoptionList" [routerLink]="['/tab/user-profile/adoption-details/' , adoption.adoptionId]" >
              <img [src]="adoption.petImage"/>
          </ion-col>
        </ion-row>
     </ion-grid>
</ion-list>

</ion-content>


