// #submit{
//   margin: 0 auto !important;
// }

.error-message{
  color: red;
}

.upload {
  background:none;
  font-size: 19px;
  border:none;
  cursor: pointer;
}

ion-header{
  font-family: 'ABeeZee' !important;
}

ion-content{
  font-family: 'ABeeZee' !important;
}
