ion-icon{
  font-size: 1.5rem;
}

ion-avatar{
  width:90px;
  height:90px;
}

ion-card{
  --ion-background-color: transparent;
  box-shadow: none !important;
}

#more{
  color: black;
  font-size: 2rem;
}
