<ion-header>
  <ion-toolbar>
    <ion-title>Guidelines</ion-title>
    <ion-img class="left-arrow" src="assets/chevron-back.svg" (click)="login()"></ion-img>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-card>
    <ion-card-title>What is PetTracker app?</ion-card-title>
    <ion-card-content style="text-align: center;">PetTracker is an app that can detect the location of our pet with our Pet Tracker device. This application can also track the pet’s routine such as their daily activity and diet intake for their pet.</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>How to use PetTracker app?</ion-card-title>
    <ion-card-content>
      <ul>
        <li>Create an account to access to the application</li>
        <li>If you already have an account, sign in and you will able
          to use the application</li>
        <li>Connect your PetTracker Device with your account for
          connect with your pet information</li>
      </ul>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>How to connect PetTracker Device?</ion-card-title>
    <ul>
      <li>- Turn on the PetTracker device and make sure the
        device is ready to pair</li>
      <li>- Go to the ‘Manage Device’ on the home page and follow
        the simple steps-by-steps</li>
      <li>- Now you are ready to use the device. </li>
    </ul>

    <p style="text-align: center;">Keep Your Pet Save Wherever You Are.</p>
  </ion-card>
</ion-content>
