ion-title{
  font-family: "AbeeZee" !important;
}

ion-avatar{
  width: 5.5rem;
  height: 5.5rem;
}

.pic{
  width: 10rem;
  height: 10rem;
}

#adopt{
  padding: 1.5px;
  img{
    width: 300px;
    height: 150px;
  }
}
