<ion-header>
  <ion-toolbar>
    <ion-buttons slot=start>
      <ion-menu-toggle>
        <ion-button>
          <ion-icon id="menu" name=menu></ion-icon>
        </ion-button>
      </ion-menu-toggle>
  </ion-buttons>

    <ion-title>Your Orders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
      <ion-item *ngFor="let order of orderList | async">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-card class="ion-no-margin">
                <ion-card-subtitle class="ion-padding-bottom">Order Id: <b>{{ order.orderId }}</b> </ion-card-subtitle>

                <ion-card-subtitle class="ion-padding-bottom">Order Status: <b style="color: green">{{ order.orderStatus }}</b>  </ion-card-subtitle>

                <ion-card-subtitle class="ion-padding-bottom">Total Amount: <b>${{ order.totalAmount }}</b>  </ion-card-subtitle>

                <ion-card-subtitle>Date: <b>{{ order.date }}</b> </ion-card-subtitle>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-buttons>
          <ion-button slot="end" [routerLink]="['/tab/timeline/sales/orders/order-detail' , order.orderId ]">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-button>
        </ion-buttons>

        <ion-grid>
          <ion-row>
            <ion-col class="ion-text-center">
              <ion-button class="ion-text-center" fill="outline" color="dark" (click)="productReceived(order.orderId)" routerDirection="forward" routerDirection="forward">Order Complete</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
</ion-content>

