<ion-header>
  <ion-toolbar>
    <ion-title> {{ adoptionsDetail?.petName }} </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/tab/user-profile">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <img [src]="adoptionsDetail?.petImage" id="img"/>
<ion-list>
  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Pet Name</ion-card-subtitle>
            <ion-card-title>{{ adoptionsDetail?.petName }}</ion-card-title>
          </ion-card-header>

          <ion-card-header>
            <ion-card-title color="primary">Category</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{ adoptionsDetail?.petCategory }}
          </ion-card-content>

          <ion-card-header>
            <ion-card-title color="primary">Age</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{ adoptionsDetail?.petAge }} Month
          </ion-card-content>

          <ion-card-header>
            <ion-card-title color="primary">Breed</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{ adoptionsDetail?.petBreed }}
          </ion-card-content>

          <ion-card-header>
            <ion-card-title color="primary">Gender</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{ adoptionsDetail?.petGender }}
          </ion-card-content>

          <ion-card-header>
            <ion-card-title color="primary">Health Condition</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{ adoptionsDetail?.petCondition }}
          </ion-card-content>

          <ion-card-header>
            <ion-card-title color="primary">Spay Status</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{ adoptionsDetail?.petSpayStatus }}
          </ion-card-content>
          </ion-card>

        <ion-buttons class="ion-padding">
          <ion-button expand="block" fill="solid" [routerLink]="['../adoption-details/edit-info/', adoptionsDetail?.adoptionId]">
            <ion-icon name="create-outline"></ion-icon>
            <ion-label class="ion-padding">Edit</ion-label>
          </ion-button>
          <ion-button expand="block" fill="solid" color="danger" (click)="deleteAdoptionPost(adoptionsDetail.adoptionId)">
            <ion-icon name="trash-outline"></ion-icon>
            <ion-label class="ion-padding">Delete</ion-label>
          </ion-button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item>
</ion-list>
</ion-content>
