<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/tab/timeline">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="ion-text-center">
      Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
  <ion-item lines="inset">
    <ion-grid>
      <ion-row>
        <ion-col class="ion-padding">
          <ion-label>Proceed with Donation Post ID :</ion-label>
          <ion-col class="ion-padding">
            <ion-card-title> {{ donationId }}</ion-card-title>
          </ion-col>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size=4>
          <ion-button [routerLink]="['../fundraiser/card-details', donationId]" routerDirection="forward" class="ion-text-right">
            <ion-label>Insert Details</ion-label>
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-card-title>Donation History</ion-card-title>
        </ion-col>
      </ion-row>


      <ion-card *ngFor="let c of cardDetail | async ">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-row>
                <ion-col>
                  <ion-label> Donation Post ID: {{ c.donationId }} </ion-label>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col>
                  <ion-label> Date: {{ c.date }} </ion-label>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col>
                  <ion-label> {{ c.firstName }} {{ c.lastName }} </ion-label>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col>
                  <ion-label>Card Number: {{ c.creditCardNumber }}</ion-label>
                </ion-col>
              </ion-row>

            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-label>Total Amount: {{ c.amount }} </ion-label>
            </ion-col>
          </ion-row>

        </ion-grid>
      </ion-card>
    </ion-grid>
   </ion-item>
</ion-list>

<ion-grid>
  <ion-row>
    <ion-col class="ion-text-center">
      <ion-button class="ion-text-center" fill="outline" color="dark" (click)="proceed()">Done</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>

</ion-content>
