<ion-app>
  <ion-menu side="start" contentId="main">
    <ion-header class="ion-padding">
      <ion-title>Menu</ion-title>
    </ion-header>
    <ion-content>
      <ion-list class="ion-padding">
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="tab/timeline/sales">
            <ion-icon name="pricetags-outline"></ion-icon>
            <ion-label class="ion-padding-horizontal">All Product</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="tab/timeline/sales/orders">
            <ion-icon name="bag-outline"></ion-icon>
            <ion-label class="ion-padding-horizontal">Orders</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="tab/timeline/sales/purchase-history">
            <ion-icon name="bag-check-outline"></ion-icon>
            <ion-label class="ion-padding-horizontal">Purchase History</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="tab/timeline/sales/sales-history">
            <ion-icon name="bag-add-outline"></ion-icon>
            <ion-label class="ion-padding-horizontal">Your Product</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="tab/timeline">
            <ion-icon name="home-outline"></ion-icon>
            <ion-label class="ion-padding-horizontal">Back to Homepage</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>

</ion-app>
