.image-center{
  margin:0 auto;
  width: 10rem;
  height: 10rem;
  }

  ion-title{
    font-family: "AbeeZee" !important;

  }

  ion-label{
    font-family: "AbeeZee" !important;
  }

  ion-button{
    font-family: "AbeeZee" !important;
  }
