.image-center{
  margin:0 auto;
  width: 10rem;
  height: 10rem;
  }

  ion-title{
    font-family: "AbeeZee" !important;

  }

  ion-label{
    font-family: "AbeeZee" !important;
  }

  ion-button{
    font-family: "AbeeZee" !important;
  }

.upload {
  background:none;
  color: gray;
  font-size: 19px;
  border:none;
  margin: 0 auto !important;
  margin-left: 9% !important;
  padding:0 auto !important;
  cursor: pointer;
}
