ion-title{
  font-family: "AbeeZee" !important;

}

ion-label{
  font-family: "AbeeZee" !important;
}

ion-icon{
  font-size: 1.5rem;
}

ion-card{
  font-family: "AbeeZee" !important;
  --ion-background-color: transparent;
  box-shadow: none !important;
}
