<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="../">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Liked Post</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment color="primary" [(ngModel)]="type" (ionChange)="segmentChanged($event)" scrollable>
    <ion-segment-button value="deposit" checked>
      <ion-label>Timeline</ion-label>
    </ion-segment-button>
    <ion-segment-button value="loan">
      <ion-label>Adoption</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-content>
