#word{
  font-size:20px;
}

ion-title{
  font-family: ABeeZee;
  text-align: center;
}

  ion-content{
  font-family: ABeeZee;
  text-align: center;
}

#continue{
  font-family: ABeeZee;
  position: absolute;
  left: 37%;
  bottom: 20%;
}

