<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="../">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Payment Method</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<div id="word">
  <p>Please select your payment method</p>
 </div>

<div id="opt">
  <ion-item lines="inset"></ion-item>
  <p><ion-checkbox checked="true" class="ion-text-right"></ion-checkbox>Paypal</p>
  <ion-item lines="inset"></ion-item>
  <p><ion-checkbox class="ion-text-right" checked="true"></ion-checkbox>Mastercard</p>
  <ion-item lines="inset"></ion-item>
</div>

<ion-button id="continue"routerLink="./../card-details" routerDirection="forward" type="submit">Continue</ion-button>

</ion-content>
