<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="../">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Pet Location</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Pet Tracker</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card class="ion-no-margin">
    <div #mapElement class="map"></div>
    <ion-card-header>
      <ion-card-subtitle>Pet Current Location</ion-card-subtitle>
        <ion-card-title>{{cityName}}, {{stateName}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
     <b>Address:</b> {{address}}
    </ion-card-content>
  </ion-card>

</ion-content>
