<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Select Device
    </ion-title>
    <ion-buttons slot="end"(click)="addDevice()">
      <ion-button>
      <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar>
 <ion-list id = "devicelist">
   <ion-item-sliding>
    <ion-item lines="none">
     <ion-label>Device 1</ion-label>
   </ion-item>
   <ion-item-options>
    <ion-item-option color="primary">
      <ion-icon slot="end" name="pencil-outline"></ion-icon>
    </ion-item-option>
     <ion-item-option color="secondary">
      <ion-icon slot="end" name="trash-outline"></ion-icon>
    </ion-item-option>
   </ion-item-options>
  </ion-item-sliding>

  <ion-item-sliding>
   <ion-item lines="none">
    <ion-label>Device 2</ion-label>
  </ion-item>
  <ion-item-options class="itemOptions" >
    <ion-item-option color="primary">
      <ion-icon slot="end" name="pencil-outline"></ion-icon>
    </ion-item-option>
     <ion-item-option color="secondary">
      <ion-icon slot="end" name="trash-outline"></ion-icon>
    </ion-item-option>
   </ion-item-options>
</ion-item-sliding>

<ion-item-sliding>
  <ion-item lines="none">
    <ion-label>Device 3</ion-label>
  </ion-item>
  <ion-item-options>
    <ion-item-option color="primary">
      <ion-icon slot="end" name="pencil-outline"></ion-icon>
    </ion-item-option>
     <ion-item-option color="secondary">
      <ion-icon slot="end" name="trash-outline"></ion-icon>
    </ion-item-option>
   </ion-item-options>
</ion-item-sliding>


  <section class="ion-text-center" id="buttons">
    <ion-button id="cancelButton" class="ion-text-capitalize" size="small" shape="round" color="secondary" >Cancel</ion-button>
    <ion-button id="connectButton" class="ion-text-capitalize" size="small" shape="round"color="primary" >Connect</ion-button>
  </section>

 </ion-list>
</ion-toolbar>
</ion-content>
