<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/tab/location-tracker">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="ion-text-center">Location Tracker</ion-title>

    <ion-buttons slot="end" >
      <ion-button routerLink="/tab/location-tracker/manage-device/add-device">
      <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let item of device | async">
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-card>
                <ion-card-subtitle class="ion-padding-top">{{ item.deviceId }}</ion-card-subtitle>
                <ion-card-title class="ion-padding-top">{{ item.deviceName }}</ion-card-title>
                <ion-card-subtitle class="ion-padding-top">{{ item.deviceDescription }}</ion-card-subtitle>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-item-options>
        <ion-item-option color="primary" [routerLink]="['/tab/location-tracker/manage-device/edit-device', item.deviceId]">
          <ion-icon slot="end" name="pencil-outline"></ion-icon>
        </ion-item-option>
         <ion-item-option color="secondary" (click)="deleteDevice(item.deviceId)">
          <ion-icon slot="end" name="trash-outline"></ion-icon>
        </ion-item-option>
       </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>
