ion-content{
  --ion-background-color: #9DDFCC !important;
  font-family: "AbeeZee" !important;
}

ion-toolbar{
  font-family: "AbeeZee" !important;
}

ion-card-title{
  --ion-background-color: #9DDFCC !important;
  font-family: "AbeeZee" !important;
}

ion-card{
  --ion-background-color: white !important;
  font-family: "AbeeZee" !important;

}

