ion-title{
  font-family: "AbeeZee" !important;

}
ion-card{
  font-family: "AbeeZee" !important;
}

ion-label{
  font-family: "AbeeZee" !important;
}

ion-searchbar{
  font-family: "AbeeZee" !important;
}

ion-icon{
  font-size: 1.5rem;
}
