<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center ion-margin-vertical">
      Adoption
    </ion-title>
    <ion-buttons slot="end">
      <ion-button id="adopt-btn" fill="solid" routerLink="../adoption/adoption-form">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar>
    <ion-searchbar placeholder="Search..." [(ngModel)]="filter" animated="true"></ion-searchbar>
  </ion-toolbar>

      <ion-list>
        <ion-item *ngFor="let adoption of adoptionList | filter:filter" >
          <ion-grid>
            <ion-row>
            <ion-col>
         <ion-card>
          <img [src]="adoption.petImage"/>
          <ion-card-header>
            <ion-card-subtitle>{{ adoption.petCategory }}</ion-card-subtitle>
            <ion-card-title>{{ adoption.petName }} ({{ adoption.petAge }} month)</ion-card-title>
          </ion-card-header>

          <ion-card-header>
            <ion-card-subtitle>Gender</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            {{ adoption.petGender }}
          </ion-card-content>

          <ion-card-header>
            <ion-card-subtitle>Breed</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            {{ adoption.petBreed }}
          </ion-card-content>

          <ion-card-header>
            <ion-card-subtitle>Health Condition</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            {{ adoption.petCondition }}
          </ion-card-content>

          <ion-card-header>
            <ion-card-subtitle>Spay Status</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            {{ adoption.petSpayStatus }}
          </ion-card-content>

          <ion-card-header>
            <ion-card-subtitle>Description</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            {{ adoption.petDescription }}
          </ion-card-content>

          <ion-card-header>
            <ion-card-subtitle>Posted by</ion-card-subtitle>
            <ion-card-title>Username</ion-card-title>

          </ion-card-header>

          <ion-card-content>
            <ion-buttons>
                <ion-grid size=3>
                  <ion-row>
                    <ion-col>
                      <ion-button fill=solid>
                        <ion-label class=ion-padding routerLink="./adoption-request">Request</ion-label>
                      </ion-button>
                    </ion-col>

                    <ion-col>
                      <ion-button>
                        <ion-icon name="chatbubble-outline"></ion-icon>
                      </ion-button>
                    </ion-col>

                    <ion-col>
                      <ion-button>
                        <ion-icon name="share-outline"></ion-icon>
                      </ion-button>
                    </ion-col>
                  </ion-row>
              </ion-grid>
            </ion-buttons>
          </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

</ion-content>
