<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button routerLink="../">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-back-button>
    </ion-buttons>

    <ion-title>Card Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="cardDetailsForm" (submit)="newCard()">

    <ion-item>
      <ion-label stacked>First Name</ion-label>
      <ion-input formControlName="firstName" type="text" placeholder="First Name"> </ion-input>
    </ion-item>
    <ion-item lines="none" class="error-message" *ngIf="!cardDetailsForm.controls.firstName.valid && cardDetailsForm.controls.firstName.touched">
      <p>First name is required.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>Last Name</ion-label>
      <ion-input formControlName="lastName" type="text" placeholder="Last Name"> </ion-input>
    </ion-item>
    <ion-item lines="none" class="error-message" *ngIf="!cardDetailsForm.controls.lastName.valid && cardDetailsForm.controls.lastName.touched">
      <p>Last name is required.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>Credit Card Number</ion-label>
      <ion-input formControlName="creditCardNumber" type="number" placeholder="Credit Card Number"> </ion-input>
    </ion-item>
    <ion-item lines="none" class="error-message" *ngIf="!cardDetailsForm.controls.creditCardNumber.valid && cardDetailsForm.controls.creditCardNumber.touched">
      <p>Invalid card number</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>CVV</ion-label>
      <ion-input formControlName="cvv" type="number" placeholder="Enter Your CVV number"> </ion-input>
    </ion-item>
    <ion-item lines="none" class="error-message" *ngIf="!cardDetailsForm.controls.cvv.valid && cardDetailsForm.controls.cvv.touched">
      <p>Invalid CVV number</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>Expiration</ion-label>
      <ion-datetime formControlName="expiration" displayFormat="MM/YY" min="2021" max="2030" placeholder="Select Date"></ion-datetime>
    </ion-item>
    <ion-item lines="none" class="error-message" *ngIf="!cardDetailsForm.controls.expiration.valid && cardDetailsForm.controls.expiration.touched">
      <p>Invalid date</p>
    </ion-item>

    <ion-item>
      <ion-label stacked> Amount you want to donate</ion-label>
      <ion-input formControlName="amount" inputmode="decimal" placeholder="$0.00"></ion-input>
    </ion-item>
    <ion-item lines="none" class="error-message" *ngIf="!cardDetailsForm.controls.amount.valid && cardDetailsForm.controls.amount.touched">
      <p>Invalid Format</p>
    </ion-item>

    <ion-button expand="block" type="submit" [disabled]="!cardDetailsForm.valid"> Add Credit Card </ion-button>
  </form>
</ion-content>
