<ion-content class="ion-padding">

  <ion-card-header style="text-align: center;">
    <ion-img class="left-arrow" src="assets/chevron-back.svg" (click)="login()"></ion-img>
    <ion-img class="logo" src="assets/logo.png"></ion-img>
    <ion-card-title>Forgot Password?</ion-card-title><br>
    <ion-card-subtitle>Enter your email address to reset your password</ion-card-subtitle><br><br>
  </ion-card-header>

  <ion-card-content>
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Email Address</ion-label>
        <ion-input type="text" [(ngModel)]="email" placeholder="Enter your email address" ></ion-input><br><br>
      </ion-item>
    </ion-list>
  </ion-card-content>

  <ion-button expand="block" shape="round" (click)="resetPassword()">Submit</ion-button>

</ion-content>

