.logo{
  align-items: center;
  width: 40%;
  display: block;
  margin: auto;
}

ion-icon{
  font-size: 1.5rem;
}

.ion-padding{
  --ion-background-color: #9DDFCC;
  font-family: "AbeeZee";
}

ion-label{
  font-family: "AbeeZee";
}

ion-input{
  --background: white;
  border-radius: 30px;
  font-family: "AbeeZee";
}

ion-card-subtitle{
  font-size: 10px;
}

#submit{
  font-family: "AbeeZee";
}
