ion-header{
  position: absolute;
}

ion-toolbar{
  ion-icon{
    color: black;
    font-size: 2rem;
  }
}

ion-content{
  --ion-background-color: #9DDFCC !important;
  font-family: "AbeeZee" !important;
}

ion-card{
  --ion-background-color: transparent;
  box-shadow: none !important;
}

ion-input{
  --background: white;
  border-radius: 10px;
}


ion-card-content{
  text-align: center;
}

ion-button{
  color: white;
  --background: #9DD2DF;
  margin-top: 30px !important;
  width: 200px !important;
}
