ion-title{
  font-family: "AbeeZee" !important;

}
ion-iteam{
  font-family: "AbeeZee" !important;
}

ion-button{
  font-family: "AbeeZee" !important;
}

ion-col{
  font-family: 'AbeeZee' !important;
}
