<ion-header>
  <ion-toolbar>
    <ion-buttons slot=start>
      <ion-button routerLink="../timeline/sales">
        <ion-icon name="storefront-outline"></ion-icon>
      </ion-button>

      <ion-button routerLink="../timeline/vet">
        <ion-icon name="paw-outline"></ion-icon>
      </ion-button>

    </ion-buttons>

    <ion-title class="ion-text-center">Timeline</ion-title>

    <ion-buttons slot=end>
      <ion-button routerLink="../timeline/posts">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>

      <ion-button routerLink="../timeline/notification">
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content overflow-scroll="true">
  <ion-toolbar>
    <ion-segment (ionChange)="segmentChanged($event)" value="newsfeed" scrollable>
      <ion-segment-button value="newsfeed">
        <ion-label>
          News Feed
        </ion-label>
      </ion-segment-button>
      <ion-segment-button value="lostpets">
        <ion-label>
          Lost Pets
        </ion-label>
      </ion-segment-button>
      <ion-segment-button value="donations">
        <ion-label>
          Donations
        </ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <ion-list *ngIf="segment === 'newsfeed'">
    <ion-item *ngFor="let post of newPost | async | filter:filter" >
      <ion-grid>
        <ion-row class=ion-padding-top>
          <ion-col size=3>
            <ion-avatar>
              <img *ngIf="post.userImage" [src]="post.userImage">
              <img *ngIf="!post.userImage" src="../../../../assets/user.jpeg">
            </ion-avatar>
          </ion-col>

          <ion-col>
            <ion-row>
              <ion-col>
                <ion-row>
                 <ion-card-title>{{ post.userName }}</ion-card-title>
                </ion-row>
                <ion-row>
                  <ion-card-subtitle>{{ post.date }}</ion-card-subtitle>
                </ion-row>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-card>
            <ion-card-title>{{ post.postTitle }}</ion-card-title>
          </ion-card>
        </ion-row>

        <ion-row>
          <ion-card>
            <ion-card-subtitle>{{ post.postDescription}}</ion-card-subtitle>
          </ion-card>
        </ion-row>

        <ion-row>
          <ion-card>
            <img [src]="post.postImage">
          </ion-card>
        </ion-row>

        <ion-row>
          <ion-col size="9">
            <ion-buttons>
              <ion-button>
                <ion-icon name="heart-outline"></ion-icon>
              </ion-button>

              <ion-button [routerLink]="['../timeline/comment', post.postId]">
                <ion-icon name="chatbox-ellipses-outline"></ion-icon>
              </ion-button>

              <ion-button>
                <ion-icon name="chatbubbles-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-col>
          <ion-col size="3">
            <ion-buttons>
              <ion-button>
                <ion-icon name="share-outline"></ion-icon>
              </ion-button>

              <ion-button (click)="reportPost(post.userId, post.postId)">
                <ion-icon name="alert-circle-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="segment === 'lostpets'">
    <ion-item *ngFor="let post of lostpetPost | async | filter:filter" >
      <ion-grid>
        <ion-row class=ion-padding-top>
          <ion-col size=3>
            <ion-avatar>
              <img *ngIf="post.userImage" [src]="post.userImage">
              <img *ngIf="!post.userImage" src="../../../../assets/user.jpeg">
            </ion-avatar>
          </ion-col>

          <ion-col>
            <ion-row>
              <ion-col>
                <ion-row>
                 <ion-card-title>{{ post.userName }}</ion-card-title>
                </ion-row>
                <ion-row>
                  <ion-card-subtitle>{{ post.date }}</ion-card-subtitle>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-card>
            <ion-card-subtitle>Last Location: {{ post.lastLocation }}</ion-card-subtitle>
          </ion-card>
        </ion-row>

        <ion-row *ngIf="post.reward === 'Reward Given'">
          <ion-card>
            <ion-card-title>Reward if Found: ${{ post.rewardAmount }}</ion-card-title>
          </ion-card>
        </ion-row>

        <ion-row>
          <ion-card>
            <ion-card-subtitle>Pet Name: {{ post.petName }}</ion-card-subtitle>
          </ion-card>
        </ion-row>

        <ion-row>
          <ion-card>
            <ion-card-subtitle>Pet Details: {{ post.petBreed }}, {{ post.petGender }}, {{ post.petColor }}</ion-card-subtitle>
          </ion-card>
        </ion-row>

        <ion-row>
          <ion-card>
            <ion-card-subtitle>{{ post.description}}</ion-card-subtitle>
          </ion-card>
        </ion-row>

        <ion-row>
          <ion-card>
            <img [src]="post.petImage">
          </ion-card>
        </ion-row>

        <ion-row>
          <ion-col size="9">
            <ion-buttons>
              <ion-button>
                <ion-icon name="heart-outline"></ion-icon>
              </ion-button>

              <ion-button  [routerLink]="['../timeline/comment', post.lostPetId]">
                <ion-icon name="chatbox-ellipses-outline"></ion-icon>
              </ion-button>

              <ion-button>
                <ion-icon name="chatbubbles-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-col>
          <ion-col size="3">
            <ion-buttons>
              <ion-button>
                <ion-icon name="share-outline"></ion-icon>
              </ion-button>

              <ion-button (click)="reportPost(post.userId, post.lostPetId)">
                <ion-icon name="alert-circle-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="segment === 'donations'">
    <ion-item *ngFor="let post of donationPost | async | filter:filter" >
      <ion-grid>
        <ion-row class=ion-padding-top>
          <ion-col size=3>
            <ion-avatar>
              <img *ngIf="post.userImage" [src]="post.userImage">
              <img *ngIf="!post.userImage" src="../../../../assets/user.jpeg">
            </ion-avatar>
          </ion-col>

          <ion-col>
            <ion-row>
              <ion-col>
                <ion-row>
                 <ion-card-title>{{ post.userName }}</ion-card-title>
                </ion-row>
                <ion-row>
                  <ion-card-subtitle>{{ post.date }}</ion-card-subtitle>
                </ion-row>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-card>
            <ion-card-subtitle>Donation - {{ post.donationType }}</ion-card-subtitle>
          </ion-card>
        </ion-row>

        <ion-row>
          <ion-card>
            <ion-card-title>{{ post.donationTitle }}</ion-card-title>
          </ion-card>
        </ion-row>

        <ion-row>
          <ion-card>
            <ion-card-title>Total Donation Required: ${{ post.donationAmount }}</ion-card-title>
          </ion-card>
        </ion-row>

        <ion-row>
          <ion-card>
            <ion-card-subtitle>{{ post.donationDescription}}</ion-card-subtitle>
          </ion-card>
        </ion-row>

        <ion-row>
          <ion-col size="7">
            <ion-card>
              <ion-card-subtitle>Receipt/Proof</ion-card-subtitle>
            </ion-card>
          </ion-col>
          <ion-col size="5">
            <ion-card>
              <ion-buttons>
                <ion-button color="primary" fill="solid" routerLink="../timeline/fundraiser">
                  <ion-label class="ion-padding">Donate</ion-label>
                </ion-button>
              </ion-buttons>
            </ion-card>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-card>
            <img [src]="post.donationImage">
          </ion-card>
        </ion-row>

        <ion-row>
          <ion-col size="9">
            <ion-buttons>
              <ion-button>
                <ion-icon name="heart-outline"></ion-icon>
              </ion-button>

              <ion-button [routerLink]="['../timeline/comment', post.donationId]">
                <ion-icon name="chatbox-ellipses-outline"></ion-icon>
              </ion-button>

              <ion-button>
                <ion-icon name="chatbubbles-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-col>
          <ion-col size="3">
            <ion-buttons>
              <ion-button>
                <ion-icon name="share-outline"></ion-icon>
              </ion-button>

              <ion-button (click)="reportPost(post.userId, post.donationId)">
                <ion-icon name="alert-circle-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
