ion-title{
  font-family: "AbeeZee" !important;
}

ion-button{
  font-family: "AbeeZee" !important;

}

ion-card{
  font-family: "AbeeZee" !important;
}

ion-label{
  font-family: "AbeeZee" !important;
}

ion-searchbar{
  font-family: "AbeeZee" !important;
}

ion-textarea{
  font-family: "AbeeZee" !important;
}

