<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="../">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Create a Post</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card>
      <ion-card-content>
        <ion-item lines="none" routerLink="./newpost-form">
          <ion-label class="ion-padding-horizontal">NEWS FEED POST</ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <ion-item lines="none" routerLink="./lostpet-form">
          <ion-label class="ion-padding-horizontal">LOST PET POST</ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <ion-item lines="none" routerLink="./donate-form">
          <ion-label class="ion-padding-horizontal">DONATION POST</ion-label>
        </ion-item>
      </ion-card-content>
  </ion-card>
</ion-list>
</ion-content>
