<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="../">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Create a Post</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label class="ion-padding-horizontal">New Post</ion-label>
      <ion-buttons>
        <ion-button slot="end" routerLink="./newpost-form">
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>

    <ion-item>
      <ion-label class="ion-padding-horizontal">Donation Post</ion-label>
      <ion-buttons>
        <ion-button slot="end" routerLink="./donate-form">
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>

    <ion-item>
      <ion-label class="ion-padding-horizontal">Lost Pet Post</ion-label>
      <ion-buttons>
        <ion-button slot="end" routerLink="./lostpet-form">
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>
