<ion-header>
  <ion-toolbar>
    <ion-icon name="arrow-back-outline" class="ion-text-left" routerLink="/card"></ion-icon>
    <ion-title>Card Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="cardDetailsForm" (submit)="newCard()">

    <ion-item>
      <ion-label stacked>First Name</ion-label>
      <ion-input formControlName="firstName" type="text" placeholder="First Name"> </ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Last Name</ion-label>
      <ion-input formControlName="lastName" type="text" placeholder="Last Name"> </ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Credit Card Number</ion-label>
      <ion-input formControlName="creditCardNumber" type="number" placeholder="Credit Card Number"> </ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>CVV</ion-label>
      <ion-input formControlName="cvv" type="text" placeholder="Enter Your CVV number"> </ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Expiration</ion-label>
      <ion-datetime formControlName="expiration" displayFormat="MM YY" placeholder="Select Date"></ion-datetime>
    </ion-item>

    <ion-button expand="block" type="submit" [disabled]="!cardDetailsForm.valid"> Add Credit Card </ion-button>
  </form>
</ion-content>
